// booleanila,byteila,charila,doubleila,floatila,intila,longila,objectila,shortila
package %%PACKAGE%%;

import java.io.IOException;
import tfw.immutable.ila.ImmutableLongArray;

public interface %%NAME%%Ila%%TEMPLATE%% extends ImmutableLongArray {
    void get(final %%TYPE_OR_TEMPLATE%%[] array, final int arrayOffset, final long ilaStart, int length) throws IOException;
}
