// byteila,charila,doubleila,floatila,intila,longila,shortila
package %%PACKAGE%%;

%%RANDOM_INCLUDE%%
/**
 *
 * @immutables.types=numeric
 */
public final class %%NAME%%IlaUtilCheck {
    private %%NAME%%IlaUtilCheck() {
        // non-instantiable class
    }

    public static void checkAll(final %%NAME%%Ila actual, %%TYPE%% epsilon) throws Exception {
        checkZeroArgImmutability(actual);
        checkTwoArgImmutability(actual, epsilon);
        checkTwoFourEquivalence(actual, epsilon);
    }

    public static void checkZeroArgImmutability(%%NAME%%Ila ila) throws Exception {
        final long firstLength = ila.length();
        final %%TYPE%%[] firstArray = %%NAME%%IlaUtil.toArray(ila);
        final long secondLength = ila.length();
        final %%TYPE%%[] secondArray = %%NAME%%IlaUtil.toArray(ila);
        final long thirdLength = ila.length();
        final %%TYPE%%[] thirdArray = %%NAME%%IlaUtil.toArray(ila);
        final long fourthLength = ila.length();

        if (firstArray.length != firstLength) throw new Exception("firstArray.length != firstLength");
        if (secondArray.length != secondLength) throw new Exception("secondArray.length != secondLength");
        if (thirdArray.length != thirdLength) throw new Exception("thirdArray.length != thirdLength");

        if (firstLength != secondLength) throw new Exception("firstLength != secondLength");
        if (secondLength != thirdLength) throw new Exception("secondLength != thirdLength");
        if (thirdLength != fourthLength) throw new Exception("thirdLength != fourthLength");

        %%RANDOM_INIT_0%%
        for (int ii = 0; ii < firstLength; ++ii) {
            secondArray[ii] = %%RANDOM_VALUE%%;
        }

        for (int ii = 0; ii < firstLength; ++ii) {
            if (firstArray[ii] != thirdArray[ii])
                throw new Exception("firstArray[" + ii + "] ("
                        + firstArray[ii] + ") != thirdArray["
                        + ii + "] (" + thirdArray[ii] + ")");
        }
    }

    // also performs zero-two equivalence
    public static void checkTwoArgImmutability(%%NAME%%Ila ila, %%TYPE%% epsilon) throws Exception {
        final %%TYPE%% eps = epsilon < 0.0 ?%%CAST_FROM_INT%% -epsilon : epsilon;
        final %%TYPE%% neps =%%CAST_FROM_INT%% -eps;
        final int ilaLength = ila.length() <= Integer.MAX_VALUE ? (int) ila.length() : Integer.MAX_VALUE;
        final %%TYPE%%[] baseline = %%NAME%%IlaUtil.toArray(ila, 0, ilaLength);
        if (baseline.length != ilaLength) throw new Exception("baseline.length != ilaLength");
        for (int length = 1; length <= ilaLength; ++length) {
            for (long start = 0; start < ilaLength - length + 1; ++start) {
                final %%TYPE%%[] subset = %%NAME%%IlaUtil.toArray(ila, start, length);
                if (subset.length != length) throw new Exception("subset.length != length");
                for (int ii = 0; ii < subset.length; ++ii) {
                    %%TYPE%% delta =%%CAST_FROM_INT%% (baseline[ii + (int) start] - subset[ii]);
                    if (!(neps <= delta && delta <= eps))
                        throw new Exception("subset[" + ii + "] ("
                                + subset[ii] + ") !~ baseline["
                                + (ii + start) + "] ("
                                + baseline[ii + (int) start]
                                + ") {length=" + length
                                + ",start=" + start + "}");
                }
            }
        }
    }

    public static void checkTwoFourEquivalence(%%NAME%%Ila ila, %%TYPE%% epsilon) throws Exception {
        final %%TYPE%% eps = epsilon < 0.0 ?%%CAST_FROM_INT%% -epsilon : epsilon;
        final %%TYPE%% neps =%%CAST_FROM_INT%% -eps;
        final int ilaLength = ila.length() <= Integer.MAX_VALUE ? (int) ila.length() : Integer.MAX_VALUE;
        final %%TYPE%%[] four = new %%TYPE%%[ilaLength];
        for (int length = 1; length <= ilaLength; ++length) {
            for (long start = 0; start < ilaLength - length + 1; ++start) {
                final %%TYPE%%[] two = %%NAME%%IlaUtil.toArray(ila, start, length);
                ila.toArray(four, 0, start, length);
                for (int ii = 0; ii < length; ++ii) {
                    %%TYPE%% delta =%%CAST_FROM_INT%% (four[ii] - two[ii]);
                    if (!(neps <= delta && delta <= eps))
                        throw new Exception("four[" + ii + "] ("
                                + four[ii] + ") !~ two["
                                + ii + "] ("
                                + two[ii]
                                + ") {length=" + length
                                + ",start=" + start + "}");
                }
            }
        }
    }

    public static void dump(String msg, %%TYPE%%[] array) {
        System.out.println(msg + ":");
        for (int ii = 0; ii < array.length; ++ii) {
            System.out.print(" " + array[ii]);
        }
        System.out.println();
    }
}
