// booleanila,byteila,charila,doubleila,floatila,intila,longila,objectila,shortila
package %%PACKAGE%%;

%%RANDOM_INCLUDE%%
import junit.framework.TestCase;
import tfw.immutable.ila.IlaTestDimensions;
import %%PACKAGE%%.%%NAME%%Ila;
import %%PACKAGE%%.%%NAME%%IlaFromArray;
import %%PACKAGE%%.%%NAME%%IlaSegment;

/**
 *
 * @immutables.types=all
 */
public class %%NAME%%IlaSegmentTest extends TestCase
{
    public void testAll() throws Exception
    {
        %%RANDOM_INIT%%
        final int length = IlaTestDimensions.defaultIlaLength();
        final %%TYPE%%[] master = new %%TYPE%%[length];
        for(int ii = 0; ii < master.length; ++ii)
        {
            master[ii] = %%RANDOM_VALUE%%;
        }
        %%NAME%%Ila masterIla = %%NAME%%IlaFromArray.create(master);
        %%NAME%%Ila checkIla = %%NAME%%IlaSegment.create(masterIla, 0,
                                                         masterIla.length());
        final int offsetLength = IlaTestDimensions.defaultOffsetLength();
        final int maxStride = IlaTestDimensions.defaultMaxStride();
        final %%TYPE%% epsilon = %%DEFAULT_VALUE%%;
        %%NAME%%IlaCheck.checkWithoutCorrectness(checkIla, offsetLength,
                                                 epsilon);
        for(long start = 0; start < length; ++start)
        {
            for(long len = 0; len < length - start; ++len)
            {
                %%TYPE%%[] array = new %%TYPE%%[(int) len];
                for(int ii = 0; ii < array.length; ++ii)
                {
                    array[ii] = master[ii + (int) start];
                }
                %%NAME%%Ila targetIla = %%NAME%%IlaFromArray.create(array);
                %%NAME%%Ila actualIla = %%NAME%%IlaSegment.create(masterIla,
                                                                  start, len);
                %%NAME%%IlaCheck.checkCorrectness(targetIla, actualIla,
                                                  offsetLength, maxStride,
                                                  epsilon);
            }
        }
    }
}
