// booleanila,objectila
package %%PACKAGE%%;

import static org.assertj.core.api.Assertions.assertThat;
import static org.assertj.core.api.Assertions.assertThatThrownBy;

import java.io.IOException;
%%RANDOM_INCLUDE_2%%public final class %%NAME%%IlaCheck {
    private %%NAME%%IlaCheck() {
        // non-instantiable class
    }

    public static void checkGetArguments(final %%NAME%%Ila%%TEMPLATE%% ila) throws IOException {
        final long ilaLength = ila.length();
        final %%TYPE%%[] array = new %%TYPE%%[10];

        assertThatThrownBy(() -> ila.get(null, 0, 0, 1))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("array == null not allowed!");
        assertThatThrownBy(() -> ila.get(array, -1, 0, 1))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("offset (=-1) < 0 not allowed!");
        assertThatThrownBy(() -> ila.get(array, 0, -1, 1))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("start (=-1) < 0 not allowed!");
        assertThatThrownBy(() -> ila.get(array, 0, 0, -1))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("length (=-1) < 0 not allowed!");
        assertThatThrownBy(() -> ila.get(array, array.length, 0, 1))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("offset (=10) >= array.length (=10) not allowed!");
        assertThatThrownBy(() -> ila.get(array, 0, ilaLength, 1))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("start (=%s) >= ila.length() (=%s) not allowed!", ilaLength, ilaLength);
        assertThatThrownBy(() -> ila.get(array, array.length - 1, 0, 2))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("offset+length (=11) > array.length (=10) not allowed!");
        assertThatThrownBy(() -> ila.get(array, 0, ilaLength - 1, 2))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("start+length (=%s) > ila.length() (=%s) not allowed!", ilaLength + 1, ilaLength);
    }

    public static void checkGetExhaustively(%%NAME%%Ila%%TEMPLATE%% ila1, %%NAME%%Ila%%TEMPLATE%% ila2) throws IOException {
        final int length1 = (int) Math.min(ila1.length(), Integer.MAX_VALUE);
        final int length2 = (int) Math.min(ila2.length(), Integer.MAX_VALUE);

        assertThat(length2).isEqualTo(length1);

        final %%TYPE%%[] a1 = new %%TYPE%%[length1];
        final %%TYPE%%[] a2 = new %%TYPE%%[length1];

        for (int s = 0; s < length1; s++) {
            for (int l = 0; l < length1 - s; l++) {
                for (int o = 0; o < length1 - l; o++) {
                    ila1.get(a1, o, s, l);
                    ila2.get(a2, o, s, l);

                    assertThat(a2).isEqualTo(a1);
                }
            }
        }
    }

    public static void check(final %%NAME%%Ila%%TEMPLATE%% expectedIla, %%NAME%%Ila%%TEMPLATE%% actualIla) throws IOException {
        checkGetArguments(actualIla);
        checkGetExhaustively(expectedIla, actualIla);
    }

    public static void checkAll(
            %%NAME%%Ila%%TEMPLATE%% target, %%NAME%%Ila%%TEMPLATE%% actual, int addlOffsetLength, int maxAbsStride, %%TYPE%% epsilon)
            throws Exception {
        checkGetArguments(actual);
        %%UTIL%%checkFourFiveEquivalence(actual, addlOffsetLength, epsilon);
        checkCorrectness(target, actual, addlOffsetLength, maxAbsStride, epsilon);
    }

    public static void checkWithoutCorrectness(final %%NAME%%Ila%%TEMPLATE%% actual, final int offsetLength, %%TYPE%% epsilon)
            throws Exception {
        checkGetArguments(actual);
        %%UTIL%%checkFourFiveEquivalence(actual, offsetLength, epsilon);
    }

    public static void checkFourFiveEquivalence(final %%NAME%%Ila%%TEMPLATE%% ila, final int offsetLength, %%TYPE%% epsilon)
            throws Exception {
        if (epsilon != %%DEFAULT_VALUE%%) {
            throw new IllegalArgumentException("epsilon != " + %%DEFAULT_VALUE%% + " not allowed");
        } else {
            if (offsetLength < 0) throw new Exception("offsetLength < 0 not allowed");

            final Strided%%NAME%%Ila%%TEMPLATE%% strided%%NAME%%Ila = Strided%%NAME%%IlaFrom%%NAME%%Ila.create(ila, new %%TYPE%%[10]);
            %%RANDOM_INIT_12%%final int ilaLength = ila.length() + offsetLength <= Integer.MAX_VALUE
                    ? (int) ila.length()
                    : Integer.MAX_VALUE - offsetLength;
            for (int offset = 0; offset < offsetLength; ++offset) {
                final %%TYPE%%[] four = new %%TYPE%%[ilaLength + offsetLength];
                final %%TYPE%%[] five = new %%TYPE%%[ilaLength + offsetLength];
                for (int length = 1; length <= ilaLength; ++length) {
                    for (long start = 0; start < ilaLength - length + 1; ++start) {
                        for (int ii = 0; ii < four.length; ++ii) {
                            five[ii] = four[ii] = %%RANDOM_VALUE%%;
                        }
                        ila.get(four, offset, start, length);
                        strided%%NAME%%Ila.get(five, offset, 1, start, length);
                        for (int ii = 0; ii < length; ++ii) {
                            if (!(four[ii]%%IS_EQUALS_START%%five[ii]%%IS_EQUALS_END%%))
                                throw new Exception("four[" + ii + "] ("
                                        + four[ii] + ") !~ five["
                                        + ii + "] ("
                                        + five[ii]
                                        + ") {length=" + length
                                        + ",start=" + start
                                        + ",offset=" + offset
                                        + "}");
                        }
                    }
                }
            }
        }
    }

    public static void checkCorrectness(
            %%NAME%%Ila%%TEMPLATE%% target, %%NAME%%Ila%%TEMPLATE%% actual, int addlOffsetLength, int maxAbsStride, %%TYPE%% epsilon)
            throws Exception {
        if (epsilon != %%DEFAULT_VALUE%%) {
            throw new IllegalArgumentException("epsilon != " + %%DEFAULT_VALUE%% + " not allowed");
        } else {
            if (addlOffsetLength < 0) throw new Exception("addlOffsetLength < 0 not allowed");
            if (maxAbsStride < 1) throw new Exception("maxAbsStride < 1 not allowed");
            if (target.length() != actual.length()) throw new Exception("target.length() != actual.length()");

            final Strided%%NAME%%Ila%%TEMPLATE%% stridedTarget = Strided%%NAME%%IlaFrom%%NAME%%Ila.create(target, new %%TYPE%%[10]);
            final Strided%%NAME%%Ila%%TEMPLATE%% stridedActual = Strided%%NAME%%IlaFrom%%NAME%%Ila.create(target, new %%TYPE%%[10]);
            %%RANDOM_INIT_12%%final int ilaLength = target.length() + addlOffsetLength <= Integer.MAX_VALUE
                    ? (int) target.length()
                    : Integer.MAX_VALUE - addlOffsetLength;
            for (int stride = -maxAbsStride; stride <= maxAbsStride; ++stride) {
                if (stride != 0) {
                    int absStride = stride < 0 ? -stride : stride;
                    int offsetStart = stride < 0 ? (ilaLength - 1) * absStride : 0;
                    int offsetEnd = offsetStart + addlOffsetLength;
                    for (int offset = offsetStart; offset < offsetEnd; ++offset) {
                        final int arraySize = (ilaLength - 1) * absStride + 1 + addlOffsetLength;
                        final %%TYPE%%[] targetBase = new %%TYPE%%[arraySize];
                        final %%TYPE%%[] actualBase = new %%TYPE%%[arraySize];
                        for (int length = 1; length <= ilaLength; ++length) {
                            for (long start = 0; start < ilaLength - length + 1; ++start) {
                                for (int ii = 0; ii < targetBase.length; ++ii) {
                                    targetBase[ii] = actualBase[ii] = %%RANDOM_VALUE%%;
                                }
                                stridedTarget.get(targetBase, offset, stride, start, length);
                                stridedActual.get(actualBase, offset, stride, start, length);
                                for (int ii = 0; ii < arraySize; ++ii) {
                                    if (!(actualBase[ii]%%IS_EQUALS_START%%targetBase[ii]%%IS_EQUALS_END%%))
                                        throw new Exception("actual[" + ii
                                                + "] ("
                                                + actualBase[ii]
                                                + ") !~ target["
                                                + ii + "] ("
                                                + targetBase[ii]
                                                + ") {length="
                                                + length
                                                + ",start=" + start
                                                + ",offset="
                                                + offset
                                                + ",stride="
                                                + stride
                                                + "}");
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    public static void dump(String msg, %%TYPE%%[] array) {
        System.out.println(msg + ":");
        for (int ii = 0; ii < array.length; ++ii) {
            System.out.print(" " + array[ii]);
        }
        System.out.println();
    }
}
