// booleanila,byteila,charila,doubleila,floatila,intila,longila,objectila,shortila
package %%PACKAGE%%;

import static org.assertj.core.api.Assertions.assertThatThrownBy;

%%RANDOM_INCLUDE%%import org.junit.jupiter.api.Test;
import tfw.immutable.ila.IlaTestDimensions;

final class %%NAME%%IlaFromArrayTest {
    @Test
    void argumentsTest() {
        assertThatThrownBy(() -> %%NAME%%IlaFromArray.create(null))
                .isInstanceOf(IllegalArgumentException.class)
                .hasMessage("array == null not allowed!");
    }

    @Test
    void immutabililtyTest() throws Exception {
        final int ilaLength = IlaTestDimensions.defaultIlaLength();
        %%RANDOM_INIT%%final %%TYPE%%[] creation = new %%TYPE%%[ilaLength];
        for (int ii = 0; ii < creation.length; ++ii) {
            creation[ii] = %%RANDOM_VALUE%%;
        }
        final %%NAME%%Ila%%TEMPLATE%% ila = %%NAME%%IlaFromArray.create(creation);
        final int offsetLength = IlaTestDimensions.defaultOffsetLength();
        final %%TYPE%% epsilon = %%DEFAULT_VALUE%%;
        %%NAME%%IlaCheck.checkWithoutCorrectness(ila, offsetLength, epsilon);
    }

    @Test
    void valueCorrectnessTest() throws Exception {
        final int ilaLength = IlaTestDimensions.defaultIlaLength();
        final int addlOffsetLength = IlaTestDimensions.defaultOffsetLength();
        final int maxAbsStride = IlaTestDimensions.defaultMaxStride();
        %%RANDOM_INIT%%final %%TYPE%%[] creation = new %%TYPE%%[ilaLength];
        for (int ii = 0; ii < creation.length; ++ii) {
            creation[ii] = %%RANDOM_VALUE%%;
        }
        final %%NAME%%Ila%%TEMPLATE%% ila = %%NAME%%IlaFromArray.create(creation);
        final Strided%%NAME%%Ila%%TEMPLATE%% stridedIla = Strided%%NAME%%IlaFrom%%NAME%%Ila.create(ila, new %%TYPE%%[1000]);

        for (int stride = -maxAbsStride; stride <= maxAbsStride; ++stride) {
            if (stride != 0) {
                int absStride = stride < 0 ? -stride : stride;
                int offsetStart = stride < 0 ? (ilaLength - 1) * absStride : 0;
                int offsetEnd = offsetStart + addlOffsetLength;
                for (int offset = offsetStart; offset < offsetEnd; ++offset) {
                    final %%TYPE%%[] arrayBase = new %%TYPE%%[(ilaLength - 1) * absStride + 1 + addlOffsetLength];
                    final %%TYPE%%[] ilaBase = new %%TYPE%%[(ilaLength - 1) * absStride + 1 + addlOffsetLength];
                    for (int length = 1; length <= ilaLength; ++length) {
                        for (long start = 0; start < ilaLength - length + 1; ++start) {
                            for (int ii = 0; ii < arrayBase.length; ++ii) {
                                arrayBase[ii] = ilaBase[ii] = %%RANDOM_VALUE%%;
                            }
                            for (int ii = (int) start, index = offset; ii < start + length; ++ii, index += stride) {
                                arrayBase[index] = creation[ii];
                            }
                            stridedIla.get(ilaBase, offset, stride, start, length);
                            for (int ii = 0; ii < arrayBase.length; ++ii) {
                                if (arrayBase[ii] != ilaBase[ii])
                                    throw new Exception("actual[" + ii + "] ("
                                            + ilaBase[ii]
                                            + ") !~ target["
                                            + ii + "] ("
                                            + arrayBase[ii]
                                            + ") {length="
                                            + length
                                            + ",start=" + start
                                            + ",offset=" + offset
                                            + ",stride=" + stride
                                            + "}");
                            }
                        }
                    }
                }
            }
        }
    }
}
