// byteila,doubleila,floatila,intila,longila,shortila
package %%PACKAGE%%;

%%RANDOM_INCLUDE%%
import junit.framework.TestCase;
import %%PACKAGE%%.%%NAME%%Ila;
import %%PACKAGE%%.%%NAME%%IlaFromArray;
import %%PACKAGE%%.%%NAME%%IlaFromCastCharIla;
import tfw.immutable.ila.IlaTestDimensions;
import tfw.immutable.ila.charila.CharIla;
import tfw.immutable.ila.charila.CharIlaFromArray;

/**
 *
 * @immutables.types=numericnotchar
 */
public class %%NAME%%IlaFromCastCharIlaTest extends TestCase
{
    public void testAll() throws Exception
    {
        %%RANDOM_INIT%%
        final int length = IlaTestDimensions.defaultIlaLength();
        final char[] array = new char[length];
        final %%TYPE%%[] target = new %%TYPE%%[length];
        for(int ii = 0; ii < array.length; ++ii)
        {
            array[ii] = (char) random.nextInt();
            target[ii] = (%%TYPE%%) array[ii];
        }
        CharIla ila = CharIlaFromArray.create(array);
        %%NAME%%Ila targetIla = %%NAME%%IlaFromArray.create(target);
        %%NAME%%Ila actualIla = %%NAME%%IlaFromCastCharIla.create(ila);
        final %%TYPE%% epsilon = (%%TYPE%%) 0.0;
        %%NAME%%IlaCheck.checkAll(targetIla, actualIla,
                                IlaTestDimensions.defaultOffsetLength(),
                                IlaTestDimensions.defaultMaxStride(),
                                epsilon);
    }
}
