// booleanila,byteila,charila,doubleila,floatila,intila,longila,objectila,shortila
package %%PACKAGE%%;

import static org.junit.jupiter.api.Assertions.assertThrows;

%%RANDOM_INCLUDE%%import org.junit.jupiter.api.Test;
import tfw.immutable.ila.IlaTestDimensions;

class %%NAME%%IlaInsertTest {
    @Test
    void testArguments() throws Exception {
        %%RANDOM_INIT%%final %%NAME%%Ila%%TEMPLATE%% ila = %%NAME%%IlaFromArray.create(new %%TYPE%%[10]);
        final long ilaLength = ila.length();
        final %%TYPE%% value = %%RANDOM_VALUE%%;

        assertThrows(IllegalArgumentException.class, () -> %%NAME%%IlaInsert.create(null, 0, value));
        assertThrows(IllegalArgumentException.class, () -> %%NAME%%IlaInsert.create(ila, -1, value));
        assertThrows(IllegalArgumentException.class, () -> %%NAME%%IlaInsert.create(ila, ilaLength + 1, value));
    }

    @Test
    void testAll() throws Exception {
        %%RANDOM_INIT%%final int length = IlaTestDimensions.defaultIlaLength();
        final %%TYPE%%[] array = new %%TYPE%%[length];
        final %%TYPE%%[] target = new %%TYPE%%[length + 1];
        for (int index = 0; index < length; ++index) {
            final %%TYPE%% value = %%RANDOM_VALUE%%;
            int skipit = 0;
            for (int ii = 0; ii < array.length; ++ii) {
                if (index == ii) {
                    skipit = 1;
                    target[ii] = value;
                }
                target[ii + skipit] = array[ii] = %%RANDOM_VALUE%%;
            }
            %%NAME%%Ila%%TEMPLATE%% origIla = %%NAME%%IlaFromArray.create(array);
            %%NAME%%Ila%%TEMPLATE%% targetIla = %%NAME%%IlaFromArray.create(target);
            %%NAME%%Ila%%TEMPLATE%% actualIla = %%NAME%%IlaInsert.create(origIla, index, value);

            %%NAME%%IlaCheck.check(targetIla, actualIla);
        }
    }
}
