// byteila,charila,doubleila,floatila,intila,longila,shortila
package %%PACKAGE%%;

%%RANDOM_INCLUDE%%import org.junit.jupiter.api.Test;
import tfw.immutable.ila.IlaTestDimensions;

class %%NAME%%IlaDivideTest {
    @Test
    void testAll() throws Exception {
        %%RANDOM_INIT%%final int length = IlaTestDimensions.defaultIlaLength();
        final %%TYPE%%[] leftArray = new %%TYPE%%[length];
        final %%TYPE%%[] rightArray = new %%TYPE%%[length];
        final %%TYPE%%[] array = new %%TYPE%%[length];
        for (int ii = 0; ii < leftArray.length; ++ii) {
            leftArray[ii] = %%RANDOM_VALUE%%;
            rightArray[ii] = %%RANDOM_VALUE%%;
            array[ii] =%%CAST_FROM_INT%% (leftArray[ii] / rightArray[ii]);
        }
        %%NAME%%Ila leftIla = %%NAME%%IlaFromArray.create(leftArray);
        %%NAME%%Ila rightIla = %%NAME%%IlaFromArray.create(rightArray);
        %%NAME%%Ila targetIla = %%NAME%%IlaFromArray.create(array);
        %%NAME%%Ila actualIla = %%NAME%%IlaDivide.create(leftIla, rightIla, 100);
        final %%TYPE%% epsilon = %%DEFAULT_VALUE%%;
        %%NAME%%IlaCheck.checkAll(
                targetIla,
                actualIla,
                IlaTestDimensions.defaultOffsetLength(),
                IlaTestDimensions.defaultMaxStride(),
                epsilon);
    }
}
