// byteila,charila,doubleila,intila,longila,shortila
package %%PACKAGE%%;

%%RANDOM_INCLUDE%%import org.junit.jupiter.api.Test;
import tfw.immutable.ila.IlaTestDimensions;
import tfw.immutable.ila.floatila.FloatIla;
import tfw.immutable.ila.floatila.FloatIlaFromArray;

/**
 *
 * @immutables.types=numericnotfloat
 */
class %%NAME%%IlaFromCastFloatIlaTest {
    @Test
    void testAll() throws Exception {
        %%RANDOM_INIT%%final int length = IlaTestDimensions.defaultIlaLength();
        final float[] array = new float[length];
        final %%TYPE%%[] target = new %%TYPE%%[length];
        for (int ii = 0; ii < array.length; ++ii) {
            array[ii] = random.nextFloat();
            target[ii] = (%%TYPE%%) array[ii];
        }
        FloatIla ila = FloatIlaFromArray.create(array);
        %%NAME%%Ila targetIla = %%NAME%%IlaFromArray.create(target);
        %%NAME%%Ila actualIla = %%NAME%%IlaFromCastFloatIla.create(ila, 100);
        final %%TYPE%% epsilon = %%DEFAULT_VALUE%%;
        %%NAME%%IlaCheck.checkAll(
                targetIla,
                actualIla,
                IlaTestDimensions.defaultOffsetLength(),
                IlaTestDimensions.defaultMaxStride(),
                epsilon);
    }
}
