// booleanila,byteila,charila,doubleila,floatila,intila,longila,objectila,shortila
package %%PACKAGE%%;

%%RANDOM_INCLUDE%%import org.junit.jupiter.api.Test;
import tfw.immutable.ila.IlaTestDimensions;

class %%NAME%%IlaInterleaveTest {
    @Test%%SUPPRESS%%
    void testAll() throws Exception {
        %%RANDOM_INIT%%final int length = IlaTestDimensions.defaultIlaLength();
        for (int jj = 2; jj < 6; ++jj) {
            final %%TYPE%%[][] target = new %%TYPE%%[jj][length];
            final %%TYPE%%[] array = new %%TYPE%%[jj * length];
            for (int ii = 0; ii < jj * length; ++ii) {
                array[ii] = target[ii % jj][ii / jj] = %%RANDOM_VALUE%%;
            }
            %%NAME%%Ila%%TEMPLATE%%[] ilas = %%FULL_CAST%%new %%NAME%%Ila[jj];
            for (int ii = 0; ii < jj; ++ii) {
                ilas[ii] = %%NAME%%IlaFromArray.create(target[ii]);
            }
            %%NAME%%Ila%%TEMPLATE%% targetIla = %%NAME%%IlaFromArray.create(array);
            %%NAME%%Ila%%TEMPLATE%% actualIla = %%NAME%%IlaInterleave.create(ilas);
            final %%TYPE%% epsilon = %%DEFAULT_VALUE%%;
            %%NAME%%IlaCheck.checkAll(
                    targetIla,
                    actualIla,
                    IlaTestDimensions.defaultOffsetLength(),
                    IlaTestDimensions.defaultMaxStride(),
                    epsilon);
        }
    }
}
