// byteila,charila,floatila,intila,longila,shortila
package %%PACKAGE%%;

%%RANDOM_INCLUDE%%
import junit.framework.TestCase;
import %%PACKAGE%%.%%NAME%%Ila;
import %%PACKAGE%%.%%NAME%%IlaFromArray;
import %%PACKAGE%%.%%NAME%%IlaFromCastDoubleIla;
import tfw.immutable.ila.IlaTestDimensions;
import tfw.immutable.ila.doubleila.DoubleIla;
import tfw.immutable.ila.doubleila.DoubleIlaFromArray;

/**
 *
 * @immutables.types=numericnotdouble
 */
public class %%NAME%%IlaFromCastDoubleIlaTest extends TestCase
{
    public void testAll() throws Exception
    {
        %%RANDOM_INIT%%
        final int length = IlaTestDimensions.defaultIlaLength();
        final double[] array = new double[length];
        final %%TYPE%%[] target = new %%TYPE%%[length];
        for(int ii = 0; ii < array.length; ++ii)
        {
            array[ii] = random.nextDouble();
            target[ii] = (%%TYPE%%) array[ii];
        }
        DoubleIla ila = DoubleIlaFromArray.create(array);
        %%NAME%%Ila targetIla = %%NAME%%IlaFromArray.create(target);
        %%NAME%%Ila actualIla = %%NAME%%IlaFromCastDoubleIla.create(ila);
        final %%TYPE%% epsilon = (%%TYPE%%) 0.0;
        %%NAME%%IlaCheck.checkAll(targetIla, actualIla,
                                IlaTestDimensions.defaultOffsetLength(),
                                IlaTestDimensions.defaultMaxStride(),
                                epsilon);
    }
}
