// booleanilm,byteilm,charilm,doubleilm,floatilm,intilm,longilm,objectilm,shortilm,stringilm
package %%PACKAGE%%;

import static org.junit.jupiter.api.Assertions.assertTrue;

import java.util.Arrays;
%%RANDOM_INCLUDE%%import org.junit.jupiter.api.Test;

class %%NAME%%IlmFromArrayTest {
    @Test
    void test%%NAME%%IlmFromArray() throws Exception {
        %%RANDOM_INIT%%%%TYPE%%[] array = new %%TYPE%%[6];

        for (int i = 0; i < array.length; i++) {
            array[i] = %%RANDOM_VALUE%%;
        }

        %%NAME%%Ilm %%TYPE%%Ilm = %%NAME%%IlmFromArray.create(array, array.length / 2);

        assertTrue(Arrays.equals(array, %%NAME%%IlmUtil.toArray(%%TYPE%%Ilm)));
    }
}
