/*
 * The Framework Project
 * Copyright (C) 2005 Anonymous
 * 
 * This library is free software; you can
 * redistribute it and/or modify it under the
 * terms of the GNU Lesser General Public License
 * as published by the Free Software Foundation;
 * either version 2.1 of the License, or (at your
 * option) any later version.
 * 
 * This library is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE.  See the GNU Lesser General Public
 * License for more details.
 * 
 * You should have received a copy of the GNU
 * Lesser General Public License along with this
 * library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330,
 * Boston, MA 02111-1307 USA
 */

package %%PACKAGE%%.test;

%%RANDOM_INCLUDE%%
import junit.framework.TestCase;
import tfw.immutable.ila.test.IlaTestDimensions;
import %%PACKAGE%%.%%NAME%%Ila;
import %%PACKAGE%%.%%NAME%%IlaFromArray;
import %%PACKAGE%%.%%NAME%%IlaMultiply;

/**
 *
 * @immutables.types=numeric
 */
public class %%NAME%%IlaMultiplyTest extends TestCase
{
    public void testAll() throws Exception
    {
        %%RANDOM_INIT%%
        final int length = IlaTestDimensions.defaultIlaLength();
        final %%TYPE%%[] leftArray = new %%TYPE%%[length];
        final %%TYPE%%[] rightArray = new %%TYPE%%[length];
        final %%TYPE%%[] array = new %%TYPE%%[length];
        for(int ii = 0; ii < leftArray.length; ++ii)
        {
            leftArray[ii] = %%RANDOM_VALUE%%;
            rightArray[ii] = %%RANDOM_VALUE%%;
            array[ii] = (%%TYPE%%) (leftArray[ii] * rightArray[ii]);
        }
        %%NAME%%Ila leftIla = %%NAME%%IlaFromArray.create(leftArray);
        %%NAME%%Ila rightIla = %%NAME%%IlaFromArray.create(rightArray);
        %%NAME%%Ila targetIla = %%NAME%%IlaFromArray.create(array);
        %%NAME%%Ila actualIla = %%NAME%%IlaMultiply.create(leftIla, rightIla);
        final %%TYPE%% epsilon = (%%TYPE%%) 0.0;
        %%NAME%%IlaCheck.checkAll(targetIla, actualIla,
                                IlaTestDimensions.defaultOffsetLength(),
                                IlaTestDimensions.defaultMaxStride(),
                                epsilon);
    }
}
