package tfw.tsm.ecd.ila;

import tfw.tsm.ecd.ObjectECD;
import tfw.value.ClassValueConstraint;
import tfw.immutable.ila.%%PACKAGE%%ila.%%NAME%%Ila;

public class %%NAME%%IlaECD extends ObjectECD
{
	public %%NAME%%IlaECD(String name)
	{
		super(name,
			ClassValueConstraint.getInstance(%%NAME%%Ila.class),
			null,
			true,
			true);
	}
}
