package tfw.tsm.ecd.ilm;

import tfw.tsm.ecd.ObjectECD;
import tfw.value.ClassValueConstraint;
import tfw.immutable.ilm.%%PACKAGE%%ilm.%%NAME%%Ilm;

public class %%NAME%%IlmECD extends ObjectECD
{
	public %%NAME%%IlmECD(String name)
	{
		super(name,
			ClassValueConstraint.getInstance(%%NAME%%Ilm.class),
			null,
			true,
			true);
	}
}