// doubleilaf,floatilaf
package %%PACKAGE%%;

import tfw.check.Argument;
import tfw.immutable.ila.%%LOWER_NAME%%ila.%%NAME%%IlaInvert;

public class %%NAME%%IlaFactoryInvert {
    private %%NAME%%IlaFactoryInvert() {}

    public static %%TEMPLATE_SPACE%%%%NAME%%IlaFactory%%TEMPLATE%% create(%%NAME%%IlaFactory%%TEMPLATE%% ilaFactory) {
        Argument.assertNotNull(ilaFactory, "ilaFactory");

        return () -> %%NAME%%IlaInvert.create(ilaFactory.create());
    }
}
