name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        distribution: [ 'zulu', 'temurin', 'corretto' ]
        java: [ '17', '21' ]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java ${{ matrix.java }}-${{ matrix.distribution }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: ${{ matrix.distribution }}
        cache: maven
    - name: Install tightvncserver
        run: sudo apt-get install -y tightvncserver
    - name: Build with Maven
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ../execute-on-vnc.sh mvn -B verify
    - name: Update dependency graph when on master
      uses: advanced-security/maven-dependency-submission-action@v4
      if: ${{ github.ref == 'refs/heads/master' }}
    - name: Get changed files
      uses: tj-actions/verify-changed-files@v20
      id: verify-changed-files
    - name: Run step only when files change
      if: steps.verify-changed-files.outputs.files_changed == 'true'
      uses: actions/github-script@v7
      with:
        script: |
            core.setFailed('Changed files found: ${{ steps.verify-changed-files.outputs.changed_files }}')

